<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trafikskadetjänst AB</title>
    <link rel="stylesheet" href="/css/layout.css">

	{% if script %}
		<script src="{{ script | url }}" defer></script>
		{% endif %}

	{# per-page extras from front matter #}
  	{% if css %}
    {% for href in css %}
      	<link rel="stylesheet" href="{{ href }}">
    	{% endfor %}
		{% endif %}
		
</head>
	
<body>
	<div class="row">
	
    <div class="column left">
        <p>&nbsp;</p>
        </div>
		
    <div class="column middle">
		<a href="/"><img src="/images/logga.jpg" alt=""/></a>
		<div class="navbar">
        	<a href="/"> Hem</a>
        	<a href="/services"> Tjänster</a>
        	<a href="/routines"> Rutiner</a>
        	<a href="/gallery"> Bildgalleri</a>
        	<a href="/customers"> Kunder</a>
        	<a href="/policy"> Miljöpolicy</a>
        	<a href="/contact"> Kontakt</a>
        	<a href="/about"> Om oss</a>
    		</div>
    </div>
		
    <div class="column right">
        <p>&nbsp;</p>
    	</div>
	    </div>
	
	<div class="row">
	<div class="column left">
	</div>
	
	<div class="column middle">
        {{ content | safe }}
    </div>
	
	<div class="column right">
	</div>
		
	</div>
	
	<div class="row">
	
	<div class="column left">
	</div>
		
	<div class="column middle">
		<hr color="blue">
		<div class="column middle footer_left">
			<h3>KONTAKTA OSS</h3>
            Tel: 08-646 7040<br/>
            Fax: 08-603 8838<br/>
            &nbsp;
		</div>
		
		<div class="column middle footer_middle">
		    <h3>ADRESS</h3>
            Trafikskadetjänst <br/>
            Prästkragevägen 6 <br/>
            148 71 Sorunda
		</div>
		
		<div class="column middle footer_right">
            <h3>E-POST</h3>
            help@trafikskadetjanst.se<br/>
            &nbsp;
			<br/>
			&nbsp;
        </div>
		</div>
		
	<div class="column right">
		</div>
	
	</div>
		 
</body>
</html>
		