<section class="home-cta" aria-labelledby="home-cta-title">
    <div>
      <p class="home-cta__eyebrow">{{ heading }}</p>
      <h2 id="home-cta-title">{{ title }}</h2>
      <p>{{ action }}</p>
    </div>

    <div class="home-cta__actions">
      <a class="button button--outline-light"> 08-646 70 40 </a>
      <a
        class="button button--outline-light"
        href="mailto:help@trafikskadetjanst.se"
      >
        Skicka e-post
      </a>
    </div>
  </section>
