---
layout: base.njk
title: Trafikskadetjänst AB
---

<div class="row">
		
		<div class="column middle image_column_5_percent">
		&nbsp;
		</div>
		
		<div class="column middle image_column_30_percent">
		<img src="/images/lars_hjelmskog.jpg" width="124" height="186" alt=""/> 
		<center><h3>Lars Hjelmskog, VD</h3>
		Knuten till Trafikskadetjänst efter några års försäkringsverksamhet och ekonomistudier.
		<br><br>
		lars@trafikskadetjanst.se
		<br><br>
		08 - 646 7041 (dir)
		<br>
		070 - 600 9995	
		</center>
		</div>
		
	
<div class="column middle image_column_30_percent">
		<img src="/images/bjorn_hjelmskog.jpg" width="124" height="186	" alt=""/> 
		
		<center><h3>Björn Hjelmskog</h3>
		Med mångårig erfarenhet av skadereglering och försäkrings-verksamhet i ledande befattningar.
		<br><br>
		08 - 646 7043 (dir)<br>
		070-600 1287</center>
		</div>
		
	<div class="column middle image_column_30_percent">
		<img src="/images/tomas_hjelmskog.jpg" width="124" height="186" alt=""/> 
		<center><h3>Tomas Hjelmskog</h3>
		Tomas medverkar i företaget efter många år som sjuksköterska i England och Sverige.
			<br><br>
			tomas@trafikskadetjanst.se
			<br><br>
			08 - 646 7048 (dir)<br>
			070 - 672 7827
		</center>
		</div>
		
	<div class="column middle image_column_5_percent">
		&nbsp;
		</div>
		
	</div>
		
		
	<div class="row">
		<div class="column middle image_column_5_percent">
		&nbsp;
		</div>
	
		<div class="column middle image_column_30_percent">
		<img src="/images/Alva_Hjelmskog.png" width="124" height="186" alt=""/>
		<center><h3>Alva Hjelmskog</h3>
			Skadereglering (deltid) och ekonomistudier
					<br><br>
		help@trafikskadetjanst.se<br>
			08 - 646 7040
		</center>
		</div>
		
		<div class="column middle image_column_30_percent">
		<img src="/images/anders_landegren.jpg" width="124" height="186" alt=""/>
		<center><h3>Anders Landegren</h3><h4>Marknadskontakter</h4>
		anders.landegren@gmail.com
			<br><br>
			070 - 789 2038
		</center>
		</div>
		
		<div class="column middle image_column_30_percent">
		<img src="/images/Olov_Eklund.png" width="124" height="186" alt=""/>
		<center><h3>Olov Eklund</h3><h4>Sydvästra Sverige</h4>
		olov.eklund@mhmail.se
							<br><br>
		070 - 847 3490</center>
		</div>
		
		<div class="column middle image_column_5_percent">
		&nbsp;
		</div>
	</div>
		
	<div class="row">
		<div class="column middle image_column_5_percent">
		&nbsp;
		</div>
		
		<div class="column middle image_column_30_percent">
		<img src="/images/Jennifer_Hjelmskog.png
				  " width="124" height="186	" alt=""/>
		<center><h3>Jennifer Hjelmskog</h3><h4>Ekonomi</h4>
		
		</center>
	  	</div>
	
		<div class="column middle image_column_30_percent" style="background-color: white">
	  	</div>
				
		<div class="column middle image_column_30_percent" style="background-color: white">
	  	</div>
	
		<div class="column middle image_column_5_percent">
		&nbsp;
	 	</div>
	</div>	