---
layout: base.njk
title: Trafikskadetjänst AB
---

   <div class="single_column"> <br>
      <br>
      <center>
        <a href="/pdf/policy.pdf"><img src="/images/adobe-reader-pdf-icon.png" width="84" height="84" alt=""/><br>
        Här kan du ladda ner vår miljöpolicy.</a>
      </center>
    </div>