---
layout: base.njk
title: Trafikskadetjänst AB
---

<div class="column middle left_content_70_percent"> <br><br><img style="border-radius:10px;border-style:solid;border-width:7px;border-color:#0071BC" src="/images/services-image-1.jpg" width="225" height="166">
      <h2>Våra tjänster</h2>
      <p class="services-text">Vi avlastar er administration genom att göra polisanmälan vid skada med okänt fordon, anmäla till försäkringsbolag och bevaka ersättningsfrågan. Ett telefonsamtal till oss är allt som behövs när exempelvis ett trafikljus blivit nedkört, en garageport eller husfasad blivit intryckt eller en grind eller belysningsstolpe blivit demolerad. Vi rycker ut till skadeplatsen, fotograferar och antecknar skadans utseende, omfattning och eventuella spår. Vår insats gör det möjligt att snabbt åtgärda skadan. Vi vet att dessa kostnader i många fall belastar företag och kommuners underhållsbudget. Skälen till detta kan vara brist på tid och kompetens eller att hanteringen av dessa ärenden är för omständlig. </p>
      <br/>
      <br/>
      <img style="border-radius:10px;border-style:solid;border-width:7px;border-color:#0071BC" src="/images/services-image-2.jpg" width="225" height="166">
      <h2>Skadeersättning</h2>
      <p class="services-text">Under förutsättning att en korrekt utredning kan presteras så har den drabbade rätt till skälig ersättning för skadad egendom. Från skadekostnaden avgår en självrisk som vid varje skada motsvarar 5 procent av gällande prisbasbelopp. Gällande regler om preskription innebär att skador som upptäckts under de senaste tre åren kan ge rätt till ersättning.</p>
      <br/>
      <br/>
      <img style="border-radius:10px;border-style:solid;border-width:7px;border-color:#0071BC" src="/images/services-image-3.jpg" width="225" height="166">
      <h2>Samarbetsavtal</h2>
      <p class="services-text">Ert avtal med oss är vår fullmakt att företräda era intressen hos Polismyndigheten, försäkringsbolagen och vid övriga kontakter som kan krävas för att återställa egendomen efter trafikskadan. Ett avtal med oss innebär inga fasta kostnader. Det ger er möjlighet att anlita oss när ni vill. När ett uppdrag överlämnas till oss tillämpar vi ett fast pris per ärende som är oberoende av skadans omfattning.</p>
    </div>
<div class="column middle right_content_30_percent"> </div>